/* src/components/Home.css */

.home-container {
    margin-top: 50px;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .jumbotron .display-4 {
    font-weight: 300;
    color: #343a40;
  }
  
  .jumbotron .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .jumbotron .btn {
    margin-top: 20px;
  }
  